// Mobile
@media screen and (max-width: 400px){

      // Header
      .elementor-location-header{

         // Topbar
         // #top_bar{
         //    display: none;
         // }

         #header{
            .elementor-container{
               padding: 10px 0;

               .elementor-col-50{
                  width: 100% !important;

                  // Logo
                  &:first-child{
                     padding: 10px 10px 20px 10px;
                     position: absolute;
                     width: 70% !important;
                     z-index: 99;

                     .elementor-widget-shortcode{
                        position: absolute;
                        text-align: right;
                        top: -61px;
                     }

                     a{
                        width: 100%;
   
                        img{
                           width: 100% !important;
                        }
                     }
                  }

                  // Navbar and Language Switcher
                  &:last-child{
                     .elementor-widget-wrap{
                        .elementor-widget{
                           width: 100% !important;

                           // Language Switcher
                           &:first-child{
                              text-align: right;
                              margin-bottom: 0;
                              position: absolute;
                              top: -50px;
                              right: 10px;
                           }

                           &:last-child{
                              width: 100% !important;
                              position: absolute;
                              // top: 0;

                              #mega-menu-wrap-menu-1{
                                 #mega-menu-menu-1{
                                    position: relative !important;
                                    width: 100%;
                                    right: unset;
                                    top: 60px !important;
                                    z-index: 9 !important;
                                    padding: 0 10px;

                                    > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
                                       font-size: 16px;
                                       color: #fff;
                                    }

                                    // Hide Mega Menu Titles on Mobile
                                    #mega-menu-3148-0, #mega-menu-3154-0, #mega-menu-3432-0{
                                       display: none;
                                    }
                                 }

                                 .mega-menu-toggle{
                                    .mega-toggle-block-0{
                                       .mega-toggle-animated{
                                          padding-right: 10px;
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }

      }

      // Locations
      .locations-wrapper{
         grid-template-columns: 1fr;
      }

}