// Mobile
@media screen and (max-width: 400px){

      // Header
      .elementor-location-header{

         // Topbar
         // #top_bar{
         //    display: none;
         // }

         #header{
            .elementor-container{
               padding: 10px 0;

               .elementor-col-50{
                  width: 100% !important;

                  // Logo
                  &:first-child{
                     padding: 10px 10px 20px 10px;

                     a{
                        width: 100%;
                        text-align: center;
   
                        img{
                           width: 100% !important;
                        }
                     }
                  }

                  // Navbar and Language Switcher
                  &:last-child{
                     .elementor-widget-wrap{
                        .elementor-widget{
                           width: 100% !important;

                           // Language Switcher
                           &:first-child{
                              text-align: left;
                              margin-bottom: 0;
                           }

                           &:last-child{
                              width: 100% !important;
                              position: absolute;
                              // top: 0;

                              #mega-menu-wrap-menu-1{
                                 #mega-menu-menu-1{
                                    position: relative !important;
                                    width: 100%;
                                    right: unset;
                                    top: unset !important;
                                    z-index: 99999;
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }

      }

      // Locations
      .locations-wrapper{
         grid-template-columns: 1fr;
      }

}