.home{
   .home-cover-btn{
      display: inline-block;

      .elementor-button{
         width: 90%;
      }
   }

   .blog-posts{
      .elementor-inline-items{
         li.elementor-icon-list-item{
            &:first-child{
               margin-right: 0;
   
               a{
                  color: $orange;
               }
            }

            &:last-child{
               margin-left: 5px;
            }
         }

      }
   }

   .wp-caption{

      // Fixes white gutter left and right
      a{
         width: 100%;
      }

      .widget-image-caption{
         background: $dark-blue;
         box-shadow: 0 5px 25px 5px rgb(205 210 214 / 80%);
         box-sizing: border-box;
         color: #fff !important;
         font-size: 14px;
         line-height: 1.2;
         letter-spacing: 1px;
         max-width: 250px;
         min-width: 145px;
         padding: 1em;
         position: absolute;
         opacity: 0;
         transition: all .3s ease;
         transform: translateY(0%);
         bottom: -35%;
         left: 30%;
         
         &::after{
            background: $dark-blue;
            content: "";
            height: 10px;
            position: absolute;
            transform: rotate(45deg);
            width: 10px;
            left: 47%;
            margin-top: -5px;
            top: 0;
         }

      }

      &:hover{
         .widget-image-caption{
            opacity: 1;
         }
      }
   }

   .middle{
      .wp-caption{
         .widget-image-caption{
            left: 20% !important;
         }
      }
   }

}